PROJECT_NAME=JobTrack CRM
ENVIRONMENT=local
SECRET_KEY=change-this-super-secret-key-before-prod
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=postgresql+psycopg2://jobtrack:jobtrack@db:5432/jobtrack
REDIS_URL=redis://redis:6379/0
BACKEND_CORS_ORIGINS=http://localhost:3000,http://localhost:8000
